/* CSS Style Sheet */
body {
    color: rgb(11, 105, 8);
    width: 600px;
    margin: auto;
    padding: 20px 100px;
    }
html {
    background-color: rgba(165, 92, 233, 0.39);
}
button {
    background-color: rgb(11, 105, 8);
    color: floralwhite;
    padding: 5px, 15px;
    border-radius: 25px;
}
button:hover {
    background-color: floralwhite;
    color: rgb(11, 105, 8);
    cursor: pointer;
}
input {
    width: 50px;
    border-radius: 5px;
}